*,*::before,*::after{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

a{
    color: gold;
    font-size: 30px;
    text-decoration: none;
}

p{
    color: white;
    font-size:30px;
    text-align: center;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    background-color:rgb(6, 40, 104);
    margin-bottom: 10px;
}

.menu{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img{
    height: inherit;
}

.contenido{
    height: 600px;
    display:flex;
    margin: 0 5px;
}

.menu__nav a{
    padding:0 15px;
}

.cuadro{
    height: 600px;
    width: 33.33%;
}

.cuadro img{
    height:inherit;
    width:100%;
}


.cuadro:nth-child(2){
    display: grid;
    grid-template-rows: repeat(6,1fr);
    background-color:rgb(6, 40, 104);
}

.react{
    border: 3px solid white;
}
