*,*::before,*::after{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
}

h3{
    font-size:30px;
    font-weight: bold;
}

a{
    font-size: 35px;
}
ul{
    list-style: none;
}

a:nth-child(-n+2){
    text-decoration: none;
    color:rgb(100, 97, 97);
    border-right:2px solid grey;
}

p{
    font-size:18px;
}

i{
    color: blue;
}

header{
    background-color:#eee;
    margin-bottom: 10px;
}

.menu{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img{
    height: inherit;
}

.menu__nav{
    padding-right: 50px;
}

.menu__nav a{
    padding: 0 25px;
}


.controlador{
    height: 600px;
    display: flex;
    flex-direction: column;
}

.principal{
    height: 400px;
    margin-bottom: 10px;
    background:url('../img/familia.webp');
    background-repeat: no-repeat;
    background-position: right;
    background-size:400px 400px;
}

.principal__contenido{
    height:inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:15px;
}


.cartas{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.opcion{
    height:200px;
}

.opcion img{
    height:180px;
    width:500px;
}

footer{
    background-color:#eee;
    height:80px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.info{
    text-align: center;
}